* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./imgs/black.jpg);
    color: rgb(255, 255, 255);
    font-family: verdana;
    width: 100%;
    margin: auto;
    padding: 2%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header>div {
    width: 50%;
}

.social {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.header2 {
    width: 50%;
}

.minhaImagem {
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.minhaImagem img {
    border-radius: 50%;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}

.texto {
    width: 50%;
}